:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --main-bg-color: #ffffff;
  --secondary-light-bg-color: #f5f4fa;
  --secondary-dark-bg-color: #2f303a;

  --main-font-family: 'Roboto', sans-serif;
  --logo-font-family: 'Raleway', sans-serif;

  --card-grid-gap: 30px;
}

/* RESETS */

img {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.page-adress {
  font-style: normal;
}
/* RESETS end */

/* COMMON STYLES */
body {
  margin: auto;
  width: 1600px;
  color: var(--primary-text-color);
  background-color: var(--main-bg-color);

  font-weight: 400;
  font-family: var(--main-font-family);
  letter-spacing: 0.03em;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding-top: 94px;
  padding-bottom: 94px;
  padding-left: 15px;
  padding-right: 15px;
}

/* HIDE HEADINGS */
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/* LOGO  */
.logo {
  font-weight: 700;
  font-size: 26px;
  font-family: var(--logo-font-family);
  line-height: 1.19;
}
.header-logo .logo-span,
.footer-logo .logo-span {
  color: var(--accent-color);
}

/* BUTTONS */
.button {
  color: var(--title-text-color);
  background-color: var(--secondary-light-bg-color);

  font-weight: 500;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.62;
  display: inline-block;
  border: 0;
  border-radius: 4px;
}
.button:hover,
.button:focus,
.button.active {
  color: var(--main-bg-color);
  background-color: var(--accent-color);
}

/* SECTION */
.section .section-title {
  margin-top: 0;
  margin-bottom: 50px;

  color: var(--title-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
/* COMMON STYLES end */

/* HEADER */
.page-header {
  border-bottom: 1px solid #ececec;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 24px;
  padding-bottom: 25px;
}

.header-logo {
  margin-right: 93px;
  color: var(--title-text-color);
}

/* SITE NAV */
.main-nav {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
}

.nav-item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .link {
  display: block;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .active {
  color: var(--accent-color);
}

/* CONTACTS */
.contacts {
  display: flex;
}

.header-contacts {
  display: block;

  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-contacts:hover,
.header-contacts:focus {
  color: var(--accent-color);
}

.contacts-item:not(:last-child) {
  margin-right: 50px;
}
/* HEADER end */

/* HERO */
.hero {
  color: var(--main-bg-color);
  background-color: var(--secondary-dark-bg-color);
}

.hero-container {
  padding: 200px 0;
  text-align: center;
}

.hero-title {
  width: 700px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero .button {
  min-width: 200px;
  min-height: 50px;
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}

.hero .button:hover {
  cursor: pointer;
}
/* HERO end */

/* ADVANTAGES */
.advantages {
  display: flex;
  flex-wrap: wrap;
  margin-right: calc(-1 * var(--card-grid-gap));
  margin-bottom: calc(-1 * var(--card-grid-gap));
}

.advantages-item {
  width: calc(100% / 4 - var(--card-grid-gap));
  margin-right: var(--card-grid-gap);
  margin-bottom: var(--card-grid-gap);
}

.advantages .title {
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.advantages .text {
  font-size: 14px;
  line-height: 1.71;
}
/* ADVANTAGES end */

/* WHAT WE DO */
.whatwedo-container {
  padding-top: 0;
}

.whatwedo {
  display: flex;
  flex-wrap: wrap;
  margin-right: calc(-1 * var(--card-grid-gap));
  margin-bottom: calc(-1 * var(--card-grid-gap));
}

.whatwedo-item {
  width: calc(100% / 3 - var(--card-grid-gap));
  margin-right: var(--card-grid-gap);
  margin-bottom: var(--card-grid-gap);
}

/* TEAM */
.team {
  background-color: var(--secondary-light-bg-color);
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: calc(-1 * var(--card-grid-gap));
  margin-bottom: calc(-1 * var(--card-grid-gap));
}

.team-item {
  width: calc(100% / 4 - var(--card-grid-gap));
  margin-right: var(--card-grid-gap);
  margin-bottom: var(--card-grid-gap);
  background-color: var(--main-bg-color);
  border-radius: 0 0 4px 4px;
}

.team-description-wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 15px;
  padding-right: 15px;
}

.team .title {
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team .position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
/* TEAM end */

/* FOOTER */
.page-footer {
  color: var(--main-bg-color);
  background-color: var(--secondary-dark-bg-color);
}

.page-adress .item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-container {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-adress {
  font-size: 14px;
  line-height: 1.71;
}

.footer-logo {
  display: block;
  margin-bottom: 20px;
  color: var(--main-bg-color);
}

.footer-contacts {
  display: block;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-contacts:hover,
.footer-contacts:focus {
  color: var(--accent-color);
}
/* FOOTER end */

/* PORTFOLIO */
.filter-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-item:not(:last-child) {
  margin-right: 8px;
}

.filter-buttons .button {
  min-height: 38px;
  padding: 6px 22px;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: calc(-1 * var(--card-grid-gap));
  margin-bottom: calc(-1 * var(--card-grid-gap));
}

.project-item {
  flex-basis: calc(100% / 3 - var(--card-grid-gap));
  margin-right: var(--card-grid-gap);
  margin-bottom: var(--card-grid-gap);
}

.project-list .title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-list .description {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.87;
}

.project-description-wrapper {
  padding: 20px 24px;

  background-color: var(--main-bg-color);
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}
